# API y Servidor
fastapi>=0.95.0
uvicorn>=0.21.0
fastapi-cors
vite 

# Base de datos
sqlalchemy>=2.0.0
psycopg2-binary
alembic

# Validación y serialización
pydantic>=2.0.0
email-validator

# Autenticación y seguridad
passlib[bcrypt]
python-jose[cryptography]
python-multipart

# Configuración
python-dotenv

# HTTP client for AI model requests
httpx
